.search-bar-container {
    padding: 1.5em 2em;
    text-align: center;
    box-sizing: border-box;
}

.user-content-container {
    padding: 0 3em 2em 3em;
}

.user-avatar-img {
    width: 250px;
}

/* Header */
.header-container {
    padding: 1em 0;
    background: #1e1e1e;
    text-align: center;
}

.header-container h1 {
    color: white;
}

/* SearchBar */

form .user-input {
    width: 80%;
    height: 25px;
    border: none;
    background: #dcdcdc;
}

form .btn-user {
    padding: 0.5em;
    height: 25px;
    border: none;
    outline: none;
}

input[type="text"]:focus {
    background-color: #f2f4f8;
    outline: none;
}

/* Stats */
.gb-stats {
    width: 100%;
}

.gb-languages {
    width: 100%;
}

.stats-container {
    padding: 1em 0;
}

/* UserCard */
.user-info-container {
    display: flex;
    align-items: center;
}

.user-info {
    padding: 1em;
}

.user-avatar-img {
    align-items: center;
    width: 150px;
    border-radius: 50%;
}

.user-info-container .user-info h3 {
    top: 0;
    font-size: 22px;
    padding-bottom: 0.25em;
}

.user-info-container .user-info .user-bio {
    font-size: 14px;
    text-align: justify;
    text-justify: inter-word;
}

.user-info-container .user-info .user-url {
    padding-top: 0.25em;
    font-size: 10px;
    font-weight: bold;
}

/* UserRepos */
.repos-container {
    margin: 0 -1em;
}

.btn-carousel {
    padding: 0.25em;
    border: none;
    border-radius: 50%;
}
